.ytq-dialog {
    display: block;
    margin: 24px 40px;
    background: var(
        --paper-dialog-background-color,
        var(--primary-background-color)
    );
    color: var(--yt-spec-text-primary);
    font-family: "Roboto", "Noto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 24px 12px
        var(--paper-dialog-shadow-color, rgba(0, 0, 0, 0.15));
}
.ytq-dialog > *:first-child {
    margin-top: 24px;
}
.ytq-dialog > *:last-child {
    margin-bottom: 24px;
}
.ytq-dialog .title {
    font-size: 16px;
    font-weight: 500;
}
.ytq-dialog .thumbnail {
    height: 120px;
}
.ytq-dialog #contents {
    min-width: 470px;
}
.ytq-dialog .question-input-container {
    border: 1px solid var(--yt-spec-10-percent-layer);
    background-color: var(--yt-spec-general-background-a);
    border-radius: 12px;
    display: flex;
    margin-top: 8px;
}
.ytq-dialog .question-input-container input[type="text"] {
    color: var(--yt-spec-text-primary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background: transparent;
    border-radius: 12px;
}
.ytq-dialog .question-input-container input[type="text"]:focus {
    outline: none;
}
.ytq-dialog .question-input-container:has(input[type="text"]:disabled) {
    background-color: var(--yt-spec-10-percent-layer);
}

.ytq-dialog .question-button {
    white-space: nowrap;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    color: #fff;
    background: #065fd4;
    border: none;
    margin: 6px;
    cursor: pointer;
}
.ytq-dialog .question-button .default-text {
    display: block;
}
.ytq-dialog .question-button .loading-text {
    display: none;
}
.ytq-dialog .question-button[disabled] {
    background: #3778cc;
    cursor: not-allowed;
}
.ytq-dialog .question-button[disabled] .default-text {
    display: none;
}
.ytq-dialog .question-button[disabled] .loading-text {
    display: block;
}
.ytq-dialog .question-button:hover {
    background: #0556bf;
}
.ytq-dialog .question-button:active {
    background: #3778cc;
}
.ytq-dialog .question-suggestions {
    margin-top: 8px;
}
.ytq-dialog .question-suggestions ul {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
.ytq-dialog .question-suggestions li {
    padding: 8px 12px;
    background-color: var(--yt-spec-general-background-a);
    cursor: pointer;
    font-size: 12px;
    list-style-type: none;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}
.ytq-dialog .question-suggestions li:hover {
    background-color: var(--yt-spec-10-percent-layer);
}
.ytq-dialog .question-suggestions .title {
    font-size: 14px;
    font-weight: bold;
    color: var(--yt-spec-text-secondary);
}
