.ytq-extra-options {
    display: block;
    width: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    padding-bottom: 8px;
}
.ytq-extra-options[aria-hidden] {
    display: none;
}
.ytq-extra-options .vertical-menu {
    display: flex;
    align-items: center;
    padding: 0 12px 0 16px;
    white-space: nowrap;
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    min-height: 36px;
    position: relative; /* for use-mark */
}
.ytq-extra-options .vertical-menu .use-mark {
    position: absolute;
    top: 6px;
    right: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3a88ff;
}
.ytq-extra-options .vertical-menu .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.ytq-extra-options .vertical-menu .icon svg {
    width: 14px;
    height: 14px;
    fill: var(--yt-spec-text-primary);
}
.ytq-extra-options .vertical-menu .text {
    margin-right: 16px;
    flex: 1;
    flex-basis: 0.000000001px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
}
.ytq-extra-options .vertical-menu .shortcut {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.3rem;
    color: var(--secondary-text-color);
    margin-right: 8px;
    opacity: 0.8;
}
.ytq-extra-options .vertical-menu:hover {
    background-color: var(--yt-spec-10-percent-layer);
}

.ytq-extra-options .horizontal-menu {
    display: flex;
    padding: 0 12px;
    color: var(--yt-spec-text-primary);
}
.ytq-extra-options .horizontal-menu .option-item {
    flex: 1;
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
}
.ytq-extra-options .horizontal-menu .option-item[disabled="true"] {
    cursor: default;
}
.ytq-extra-options .horizontal-menu .option-item:not([disabled="true"]):hover {
    background-color: var(--yt-spec-10-percent-layer);
}
.ytq-extra-options:not([aria-hidden])::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--yt-spec-10-percent-layer);
    margin: 0 0 8px 0;
}
