body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
}
textarea {
    width: 100%;
    height: 100px;
}
button {
    width: 100%;
    padding: 10px;
}
.prompt {
    margin-bottom: 20px;
}
.prompt p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #666;
}
.label-header {
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label-header h3 {
    margin: 0;
}
.status-message {
    margin-left: auto;
    font-size: 14px;
    color: #4caf50; /* Green color for success */
    display: none; /* Initially hidden */
}
.status-message.visible {
    display: block; /* Display when visible */
}
.toggle {
    display: flex;
    align-items: center;
}
.toggle label {
    margin-left: 10px;
    font-size: 14px;
}
.description {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
