.yt_ai_summary_container_ {
    background-color: #ffffff;
    padding: 4px 8px 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-bottom: 10px;
}

.yt_ai_summary_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.yt_ai_summary_header_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.yt_ai_summary_loading {
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.yt_ai_summary_header_action_btn {
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
}

.yt_ai_summary_header_hover_label {
    position: relative;
    top: 6px;
    left: -35px;
    padding: 5px 8px;
    background-color: #030303;
    color: white;
    width: fit-content;
    border-radius: 3px;
    opacity: 0.85;
    white-space: nowrap;
    font-size: 11px;
    text-align: center;
    user-select: none;
}

.yt_ai_summary_icon:hover {
    background: rgb(32 225 86 / 30%) !important;
}

.yt_ai_summary_icon:active {
    background: rgb(32 225 86 / 60%) !important;
}

.yt_ai_summary_header_action_btn:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

.yt_ai_summary_header_action_btn:active {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

#yt_ai_summary_header_copy,
#yt_ai_summary_header_track,
#yt_ai_summary_header_summary,
#yt_ai_summary_header_track {
    /* visibility: hidden; */
    display: none;
}

.yt_ai_summary_header_icon_show {
    /* visibility: visible !important; */
    display: block !important;
}

.yt_ai_summary_header_toggle_rotate {
    transform: rotate(180deg);
}

.yt_ai_summary_body {
    display: none;
    overflow: scroll;
    margin: 4px 0;
    padding-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.yt_ai_summary_body_show {
    display: block;
}

.yt_ai_summary_text {
    padding: 12px;
    font-size: 16px;
    line-height: 1.4em;
}

.yt_ai_summary_lang_select {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    overflow: scroll;
    padding-bottom: 8px;
}

.yt_ai_summary_lang_select button {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 24px;
    padding: 8px 12px;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    user-select: none;
}

.yt_ai_summary_lang_select button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
}

.yt_ai_summary_lange_selected {
    background-color: #030303 !important;
    color: white;
}

.yt_ai_summary_transcript_text_segment {
    display: flex;
    justify-content: left;
    align-items: baseline;
    gap: 0;
    margin: 0 0 16px;
    grid-template-columns: auto auto;
}

.yt_ai_summary_transcript_text_timestamp {
    color: #065fd4;
    text-decoration: none;
    cursor: pointer;
    margin-right: 16px;
}

#extra-options {
    display: block;
    width: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    padding-bottom: 8px;
}
#extra-options[aria-hidden] {
    display: none;
}
#extra-options .horizontal-menu {
    display: flex;
    padding: 0 16px;
    color: var(--yt-spec-text-primary);
}
#extra-options .option-item {
    flex: 1;
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}
#extra-options .option-item[disabled="true"] {
    cursor: default;
}
#extra-options .option-item:not([disabled="true"]):hover {
    background-color: var(--yt-spec-10-percent-layer);
}
#extra-options:not([aria-hidden])::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--yt-spec-10-percent-layer);
    margin: 0 0 8px 0;
}

#toast-container #toast-box {
    background-color: var(--yt-spec-inverted-background);
    color: var(--yt-spec-text-primary-inverse);
    border-radius: 8px;
    box-shadow: 0 0 24px 0 var(--yt-spec-static-overlay-background-light);
    padding: 12px;
    min-height: 48px;
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;

    position: fixed;
    min-width: 288px;
    box-sizing: border-box;
    cursor: default;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-font-smoothing: antialiased;
}
#toast-container #toast-box.open {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.ytq-dialog {
    display: block;
    margin: 24px 40px;
    background: var(
        --paper-dialog-background-color,
        var(--primary-background-color)
    );
    color: var(--yt-spec-text-primary);
    font-family: "Roboto", "Noto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 24px 12px
        var(--paper-dialog-shadow-color, rgba(0, 0, 0, 0.15));
}
.ytq-dialog > *:first-child {
    margin-top: 24px;
}
.ytq-dialog > *:last-child {
    margin-bottom: 24px;
}
.ytq-dialog .title {
    font-size: 16px;
    font-weight: 500;
}
.ytq-dialog .thumbnail {
    height: 94px;
    width: 168px;
}
.ytq-dialog #contents {
    min-width: 470px;
}
.ytq-dialog .question-input-container {
    border: 1px solid var(--yt-spec-10-percent-layer);
    background-color: var(--yt-spec-general-background-a);
    border-radius: 12px;
    display: flex;
    margin-top: 8px;
}
.ytq-dialog .question-input-container input[type="text"] {
    color: var(--yt-spec-text-primary);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background: transparent;
    border-radius: 12px;
}
.ytq-dialog .question-button {
    white-space: nowrap;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    color: #fff;
    background: #065fd4;
    border: none;
    margin: 6px;
    cursor: pointer;
}
.ytq-dialog .question-button:hover {
    background: #0556bf;
}
.ytq-dialog .question-button:active {
    background: #3778cc;
}